<ion-header>
  <ion-toolbar>
    <ion-title>
      Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-grid *ngFor="let m of movies">
    <ion-row>
      <ion-col class="col1">
      <div>
        <img class="img" src={{m.image_url}}>
      </div>
    </ion-col>
    <ion-col>
      <ion-card-title style="font-size:15px;">{{m.name}}</ion-card-title>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-half"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-card-subtitle>Rate: {{m.rating}}</ion-card-subtitle>
      <ion-icon name="heart"></ion-icon><span style="margin-botton:10px">85%</span><br/>
      <ion-icon class="trash" color="primary" name="create"></ion-icon>
      <ion-icon class="trash" color="danger" name="trash" (click)="delete(m)"></ion-icon>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
</ion-content>
